<h2>Recently Added</h2>
<div>
    <% books.forEach(book => { %> 
        <!-- <h5><%= book.title %> </h5> -->
        <img height="150" width="100" src="<%= book.coverImagePath %> " >
    <% }) %> 
</div>